.gh-head-logo {
    letter-spacing: -0.01em;
}

.gh-head-menu,
.gh-head-link {
    font-size: 1.5rem;
    font-weight: 500;
}

.gh-head-menu {
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.gh-head-menu a {
    color: #4c566a;
}

.gh-head-menu::after {
    display: none;
}